{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font family: Arial, sans-serif;
}
/*general body styling*/
body{
    line-height: 1.6;
}

/*==== HEADER ====*/
header{
    bakcground: #111; /* dark background*/
    color: #fff;
    padding: 15px 20px;
    display: flex; /* align items in a row*/
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: #f39c12; /* orange highlight*/
}
/*navigation links*/
nav a {
    color:#f39c12; /*orange highlight*/
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color:#f39c12; /*hover effect*/
}

/*==== HERO SECTION ====*/
.hero{
    background: url('c:\Users\colli\Downloads\GYM, Fitness Backdrops.jpg') no-repeat center/cover; /*background image*/
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

}

.hero h2{
    font-size: 3rem;
    background: rgba(0,0,0,0.6); /* dark overlay*/
    padding: 20px;
}

/*==== GENERAL SECTION====*/
.section{
    padding: 40px 20px;
    text-align: center;
}

/*grid layout for cards*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
/*card styling*/
.card{
    border: 1px solid #ddd;
    padding:20px;
    border-radius:10px;
    transition: 0.3s;
}

.card img{
    width:100%;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-5px); /*lift effect*/
    background: #f39c12;
    color: #fff;
}